<div class="main">
  <!-- Intro Header -->
   <section class="valign-wrapper" style="padding-bottom:80px">
          <div class="container valign animated fadeInUp">
              <div class="row intro">
                  <div class="col s12">
                      <h1 class="center title" style="font-family:Righteous;">SWAVE</h1>
                       <h5 class="intro-text">Your Personal Barber - Anytime, Anywhere</h5>
                  </div>
              </div>
          </div>      
  </section>
  <!--About Section-->
  <section class=" valign-wrapper" style= "padding-bottom:70px">
      <div class="container valign animated fadeInUp">
        <div class="row">
            <div class="col s12 m12 about">
                <h2>What is Swave?</h2>
                <p><u>Swave</u> is a mobile application platform that revolutionalizes the current barbering industry by mobilizing barbers and delivering the haircutting service to customer's doorsteps.</p><br> 

                <p>With <u>Swave</u>, you can have a fresh haircut when you need it, where you want it, and the way you like it.</p>
            </div>
        </div>
      </div>     
  </section>
  <!--Content Section-->
    <section class="valign-wrapper" style="padding-bottom:70px">
          <div class="container valign animated fadeInUp">
              <div class="row">
                  <div class="col s12 m12 z-depth-1">
                      <h1 class="center" style="font-family:Righteous; color:BEBEBE">Promotion Text</h1>
                      <p>Sign up today, and we will send you our website updates once the service is available</p>
                      <%= render 'shared/new_mailinglist' %>
                  </div>
              </div>
          </div>      
  </section>
  <!--Download Section-->
  <section class="valign-wrapper" style="padding-bottom:70px">         
          <div class="container valign animated fadeInUp">
              <div class="row">
                  <div class="col s12 m12">
                      <h1 class="center" style="font-family:Righteous; color:white">SWAVE</h1>
                          
                      <h4 class="center">Exclusive Mobile Haircuts & Trims</h4>
                  </div>
              </div>
          </div>
  </section>
  <!--Contact Us Section-->
  <section class="valign-wrapper" style="padding-bottom:70px">      
      <div class="container valign">
          <div class="row">
              <div class="col s12 m12">
                  <h1 class="center intro-text animated fadeInUp" style="font-family:Righteous; color:white">SWAVE</h1>
                  <h4 class="center">Exclusive Mobile Haircuts & Trims</h4>
              </div>
          </div>
      </div>     
  </section>
</div>